* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F4E1;
    font-family: Poppins;
    color: #543310;
    font-size: 16px;
    margin: 1.125em;
}

h1 {
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 1.125em;
    font-weight: 900;
}

nav .navlinks {
    display: flex;
    justify-content: space-around;
    list-style: none;
    min-width: 500px;
    font-size: 0.875em;
}

.navlinks a {
    text-decoration: none;
    color: #543310;
}
